@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'robotobold';
    src: url('http://local.sistema-web/fontes/roboto-bold-webfont.woff2') format('woff2'),
         url('http://local.sistema-web/fontes/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('http://local.sistema-web/fontes/roboto-regular-webfont.woff2') format('woff2'),
         url('http://local.sistema-web/fontes/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#principal {
	font-family: robotoregular;
	font-size: 15px;
	width: 90%;
	height: 90vh;
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
	font-size: 11px;
}

.linha {
	width: 100%;
	height: 30px;
	margin-top: 5px;
	float: left;
	background-color: #FFF;
}

.coluna_01 {
	width: 5%;
	height: 10px;
	padding: 4px;
	float: left;
	margin: 2px;
	text-align: center;
	color:black;
}

.coluna_02 {
	width: 10%;
	height: 10px;
	padding: 4px;
	float: left;
	margin: 2px;
	color:black;
}

.coluna_03 {
	width: 20%;
	height: 10px;
	padding: 4px;
	float: left;
	margin: 2px;
	color:black;
}
