@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'robotobold';
    src: url('../fontes/roboto-bold-webfont.woff2') format('woff2'),
         url('../fontes/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fontes/roboto-regular-webfont.woff2') format('woff2'),
         url('../fontes/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#principal {
	width: 310px;
	height: auto;
	margin: auto;
	margin-top: 50px;
}


label {
	font-family: robotobold;
	font-weight: bold;
	font-size: 16px;
	color:#000000;
	margin: 5px;
	width: 300px;
	height: 16px;
	float: left;
}

h1 {
	font-family: robotobold;
	font-size: 28px;
	color:#000000;
	margin: 21px;
	width: 290px;
	text-align: center;
	float: right;
}

.input_01 {
	font-family: robotoregular;
	font-size: 15px;
	width: 300px;
	height: 20px;
	float: left;
	margin: 5px;
}

.input_02 {
	font-family: robotoregular;
	font-size: 15px;
	width: 300px;
	height: 20px;
	float: left;
	margin: 5px;
	background-color: #FFFFD7;
}

.select_01 {
	font-family: robotoregular;
	font-size: 15px;
	width: 304px;
	height: 24px;
	float: left;
	margin: 5px;
}

.select_02 {
	font-family: robotoregular;
	font-size: 15px;	
	width: 304px;
	height: 24px;
	float: left;
	margin: 5px;
	background-color: #FFFFD7;
}

.btn {
	font-family: robotobold;
	font-size: 15px;
	width:  100px;
	height: 24px;
	background-color: #03dac6;
	border: 0px;
	float: left;
	margin: 5px;
	color:#FFF;

}

.btn:hover {
	width:  100px;
	height: 24px;
	background-color:#018786;
	border: 0px;
	float: left;
	margin: 5px;
	color: #FFF;
}

.textarea_01 {
	width: 298px;
	height: 50px;
	float: left;
	margin: 5px;
}

.textarea_02 {
	width: 298px;
	height: 50px;
	float: left;
	margin: 5px;
	background-color: #FFFFD7;
}
